a {COLOR: #FF7A09;}
a:visited {COLOR: #FF7A09;}
h3 { background: #FE7B09 url(/ww.skins/orange/i/bg.jpg) repeat-x;}
#header {
background: #FE7B09 url(/ww.skins/orange/i/bg.jpg) repeat-x;
}
#left {background: #FFD8AF;border: 1px dotted #FF8B1E;}
