.ww_commentWrapper hr{border:solid #999;border-width:0 0 1px;clear:both;margin:0 10%}
.ww_commentGravatarLink{float:right}
#ww_form label{display:block;clear:left}
#ww_form label span{float:left;width:20%}
#ww_form label input{width:60%}
#ww_form label textarea{width:79%;height:80px}
