.product_reviews_star.starred{
	color:white;
	background:#333;
}
.product_reviews_star{
	text-decoration:none;
	color:#666;
	font-size:15px;
	padding:4px;
}
a.product_reviews_star:hover{
	color:red;
}
#product_review_form_table textarea{
	width:400px;
	height:100px;
}
