#right_link{ float:right }
#dynamic_search_table{ margin:20px 10px 10px }
#dynamic_search_select{ width:80px }
#dynamic_searchfield{ width:505px;height:22px }
#dynamic_search_submit{ border:1px solid #000;padding:2px;width:80px }
#dynamic_searches{ width:670px;background:#efb;margin:10px;min-height:120px;border:1px solid #aaa }
#dynamic_searches p,#dynamic_searches ol{ margin:10px 10px 10px 40px }
#stuff,#dynamic_search_results{ margin:10px }
#dynamic_list{ list-style-type:none }
.left{ float:left }
.right{ float:right }
